<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/public/css/style.css">
    <title>Carousel 3D</title>
</head>
<body>
  <div class="title_carousel">
    <h1>CAROUSEL 3D</h1>
  </div>
    <div class="container">
        <div class="carousel">
          <div class="item a"><img src="/public/images/paisaje1.jpeg" alt=""></div>
          <div class="item b"><img src="/public/images/paisaje2.jpg" alt=""></div>
          <div class="item c"><img src="/public/images/paisaje3.jpg" alt=""></div>
          <div class="item d"><img src="/public/images/paisaje4.png" alt=""></div>
          <div class="item e"><img src="/public/images/paisaje5.jpg" alt=""></div>
          <div class="item f"><img src="/public/images/paisaje6.jpg" alt=""></div>
        </div>
      </div>
      <div class="next">Next</div>
      <div class="prev">Prev</div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
      <script src="/public/js/slider.js"></script>
</body>
</html>